<div id="ribbits" class="panel left">
    <h1>Public Profile</h1>
    <% @users.each do |user| %>
    <div class="ribbitWrapper">
        <a href="<%= user_path user %>">
        <img class="avatar" src="<%= user.avatar_hash %>">
        <span class="name"><%= user.name %></span></a>
        @<%= user.username %>
        <p>
        <%= user.ribbits.size %> Ribbits
        <span class="spacing"><%= user.followers.count %> Followers</span>
        <span class="spacing"><%= user.followeds.count %> Following</span>
        </p>
        <p><%= user.ribbits.first.content %></p>
    </div>
    <% end %>
</div>
