<div class="wrapper">
  <img src="/gfx/frog.jpg">
  <div class="panel right">
    <h1>New to Ribbit?</h1>
    <p>
      <%= form_for @user do |f| %>
        <%= f.text_field :email, placeholder: "email" %>
        <%= f.text_field :username, placeholder: "username" %>
        <%= f.text_field :name, placeholder: "name" %>
        <%= f.password_field :password, placeholder: "password" %>
        <%= f.password_field :password_confirmation, placeholder: "password" %>
        <%= f.submit "Create account" %>
      <% end %>
    </p>
  </div>
</div>
