<% if current_user %>
<div id="createRibbit" class="panel right">
    <h1>Create a Ribbit</h1>
    <p>
    <%= form_for @ribbit do |f| %>
        <%= f.text_area :content, class: 'ribbitText' %>
        <%= f.submit "Ribbit!" %>
    <% end %>
    </p>
</div>
<% end %>
<div id="ribbits" class="panel left">
    <h1>Your Ribbit Profile</h1>
    <div class="ribbitWrapper">
        <img class="avatar" src="<%= @user.avatar_hash %>">
        <span class="name"><%= @user.name %></span> @<%= @user.username %>
        <p>
        <%= @user.ribbits.size %> Ribbits
        <span class="spacing"><%= @user.followers.count %> Followers</span>
        <span class="spacing"><%= @user.followeds.count %> Following</span>
        </p>
        <% if current_user and @user != current_user %>
                <% if current_user.following? @user %>
                    <%= form_tag relationship_path, method: :delete do %>
                        <%= submit_tag "Unfollow" %>
                    <% end %>
                <% else %>
                    <%= form_for @relationship do %>
                        <%= hidden_field_tag :followed_id, @user.id %>
                        <%= submit_tag "Follow" %>
                    <% end %>
                <% end %>
        <% end %>
    </div>
</div>
<div class="panel left">
    <h1>Your Ribbits</h1>
    <% @user.ribbits.each do |ribbit| %>
        <div class="ribbitWrapper">
            <img class="avatar" src="<%= @user.avatar_hash %>">
            <span class="name"><%= @user.name %></span> 
            @<%= @user.username %> 
            <span class="time"><%= time_ago_in_words(ribbit.created_at) %></span>
            <p> <%= ribbit.content %> </p>
        </div>
    <% end %>
</div>
